
/*Importa una fuente de letra*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.persona{

    /*Ajustando tamaño de la imagen*/
    width: 300px;
    height: 250px;

}

/*Esto hace cambios globales*/
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /*border-box hace que la suma del contenido, margen y padding sea el real asignado (yo me entiendo)*/

}

/*Aquí definimos las variables globales*/
:root{

    --primary-color: #32CD32;
    --text-color: #727171;

}

/*Selecciona el documento html*/
html{

    font-size: 10px;

}


body{

    /*Añadimos la fuente importada*/
    font-family: Inter, sans-serif;

    background-color: black;
    color: white;

}

img{
    width: 100%;
}

.descripcion{

    margin-top: 1rem; /*Espacio con los elementos de arriba*/
    font-size: 1.5rem;
    font-weight: 400; /*Grosor de la fuente*/
    color: var(--text-color); /*Ocupamos la variable*/

}

.titulo{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.contenedor{

    max-width: 1000px;
    width: 90%;
    margin: 0 auto; /*margin: arriba-abajo derecha-izquierda*/
    display: grid;
    padding: 5rem; /*Espaciado-margenes de los elementos internos respecto al contenedor*/
    background: #070707;
    grid-template-columns: 1fr 1fr; /*Dividimos el contenedor en dos columnas iguales*/
    gap: 4rem; /*Espaciado entre filas y columnas del grid*/

}

.perfil{

    grid-column: 1/ -1; /*Ubicación en las columnas inicio - final*/
    margin-bottom: 2rem;

}

.grupo1{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.contenedor_perfil{
    display: flex;
    gap:2rem;
}


.perfil_imagen{
    max-width: 250px;
}

.perfil_nombre_primerNombre{
    color: white;
    font-size: 200px;
    font-size: clamp(2rem, 8vw, 4rem); /*Tamaño de fuente adaptable mínimo-ideal-máximo*/
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.perfil_nombre_primerApellido{
    color: var(--primary-color);
    font-weight: 700;
    font-size:clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.perfil_titulo{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

/*Referencias*/
.ref_nombre{
    color:white;
    margin-bottom: 0.5rem;
}

/*Habilidades*/
.lista_habilidades{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;

}

/*Educación*/


.edu_curso_1{
    color:white;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.edu_curso_2{
    color:white;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/*Certificados*/
.cer_nombre{
    color:white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*Experiencias*/
.exp_nombre{
    color:white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.exp_nombre2{
    color:white;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
}